/*
	Kollektif Font
	© Doğu Kaya.
	Sans-serif
*/

@font-face {
	font-family: 'tif';
	font-weight: 400;
	font-weight: normal;
	font-display: swap;
	src: local('Kollektif'),
	url('files/Kollektif.woff2') format('woff2'),
	url('files/Kollektif.woff') format('woff');
}
@font-face {
	font-family: 'tif';
	font-weight: 600;
	font-weight: bold;
	font-display: swap;
	src: local('Kollektif-Bold'),
	url('files/Kollektif-Bold.woff2') format('woff2'),
	url('files/Kollektif-Bold.woff') format('woff');
}
